* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.retangulo {
    width: 400px;
    height: 200px;
    background-color: rgb(255, 164, 234);
    margin: 50px auto;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    gap: 20px;
}

.quadrado {
    width: 150px;
    height: 150px;
}

.laranja {
    background-color: rgb(240, 157, 63);
}

.lilas {
    background-color: rgb(191, 151, 228);
}

.semaforo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 600px;
    gap: 30px;
}

.sinal {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.verde {
    background-color: rgb(43, 189, 43);
}

.amarelo {
    background-color: rgb(235, 235, 29);
}

.vermelho {
    background-color: rgb(231, 60, 60);
}
