* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #c0438a;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 26px;
    fonr-weight: bold;
}

.menu {
    display: flex;
    gap: 30px;
}

.menu a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
}

.menu a:hover {
    color: #802e5c;
}