* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #99459c;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.imagem {
    height: 200px;
    width: 200px;
}

.menu {
    display: flex;
    gap: 30px;
}

.menu a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
}

.menu a:hover {
    color: #6c326e;
}